<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFinancial">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sts.miicard.com/api/v1/Financial.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinancial"
                contract="v1.Financial.IFinancial" name="BasicHttpBinding_IFinancial" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
