<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClaims">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sts.miicard.com/api/v1/Claims.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClaims"
                contract="v1.Claims.IClaims" name="BasicHttpBinding_IClaims" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
